body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: baseline;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.main-header {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.site-navigation li,
.user-navigation li {
  list-style: none;
  padding-top: 5px;
  margin-left: 23px;
  margin-right: 23px;
}

.site-navigation a {
  padding-bottom: 10px;
}

.user-navigation {
  display: flex;
  text-align: right;
}

.user-navigation .user-navigation-basket {
  position: relative;
  padding-left: 40px;
}

.user-navigation-basket::before {
  content: '';
  position: absolute;
  width: 15px;
  top: 2px;
  height: 15px;
  left: 0;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.services-item {
  text-align: left;
  width: 300px;
  margin-right: 100px;
  flex: none;
  padding-bottom: 80px;
}

.services-item:nth-child(3n) {
  margin-right: 0;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.services-item-button {
  width: 160px;
  background-color: gray;
}

.services-item-button.website {
  background-color: #fb565a;
}

.services-item-button.website:hover {
  background-color: #e74246;
}

.services-item-button.website:focus {
  background-color: #e74246;
}

.services-item-button.website:active {
  color: #e1686b;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
}

.services-item-button.app {
  background-color: #00ca74;
}

.services-item-button.app:hover {
  background-color: #00bc6c;
}

.services-item-button.app:focus {
  background-color: #00bc6c;
}

.services-item-button.app:active {
  color: #4dc491;
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 #009958;
}

.services-item-button.presentation {
  background-color: #efc84a;
}

.services-item-button.presentation:hover {
  background-color: #eab534;
}

.services-item-button.presentation:focus {
  background-color: #eab534;
}

.services-item-button.presentation:active {
  color: #ebba53;
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 #ce961f;
}

.statistics-points-list {
  padding-left: 0;
}

.statistics-points-list li {
  background-image: url("../img/statistics-points-list.png");
  background-repeat: no-repeat;
  background-position: 0 11px;
  padding-bottom: 30px;
  padding-left: 40px;
  list-style: none;
}

.write-to-us {
  position: absolute;
  top: -140px;
  left: 100px;
  width: 960px;
  background-color: #ffffff;
  padding: 80px;
  box-shadow: 0 15px 40px rgba(0, 1, 1, 0.75);
}

.write-to-us-headline {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.write-to-us-item {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
}

.footer-text {
  background-color: #ffffff;
}

.footer-text-main {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-text-discount {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/* Каталог */
.site-navigation-current a {
  border-bottom: 2px solid #fb565a;
}

.page-title {
  width: 100%;
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 105px;
}

.filter-option {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #61686c;
}

.filter fieldset {
  border: none;
}

.filter-name {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
}

.filter-button {
  width: 260px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: #959595;
  background-color: #dfdfdf;
  box-shadow: inset 0 3px 0 #bfbfbf;
}

.catalog fieldset {
  border: none;
}

.sorting li {
  list-style: none;
}

.sorting {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sorting ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.sorting-name {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.price- {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-top: 25px;
  padding-bottom: 60px;
}

.pagination-item a {
  display: block;
  text-align: center;
  min-width: 50px;
  height: 50px;
  margin-right: 10px;
  line-height: 50px;
  color: #000000;
  background-color: #eeeeee;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
}

.pagination-item.next a {
  width: 260px;
}

.pagination-item a:hover {
  color: #000000;
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: #bfbfbf;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 #bfbfbf;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

/* Сетка */
.main-navigation {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-logo {
  width: 200px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-slider {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eeeeee;
}

.slider-item {
  min-height: 425px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.slider-info {
  padding-top: 40px;
  padding-bottom: 70px;
}

.main-slider-title {
  margin: 0;
  padding: 0;
  max-width: 600px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 55px;
  font-weight: bold;
  color: #000000;
  line-height: 55px;
  margin-bottom: 27px;
}

.main-slider-text {
  max-width: 400px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.slider-item img {
  position: absolute;
  right: 50px;
  bottom: 0;
}

.main-slider-button {
  width: 240px;
  background-color: #fb565a;
  margin-top: 15px;
}

.main-slider-button:hover {
  background-color: #e74246;
}

.main-slider-button:active {
  color: #e37376;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

.statistics {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 2px solid #eeeeee;
}

.statistics-about {
  width: 680px;
  text-align: left;
  padding-top: 70px;
}

.statistics-title-text,
.statistics-points-list {
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
}

.statistics-table {
  display: block;
  width: 360px;
  padding-top: 30px;
}

.statistics-table-title {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
}

.statistics-table-percentage {
  color: #000000;
  font-size: 45px;
  line-height: 60px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.statistics-table-info {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.statistics-points {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  padding-top: 30px;
}

.statistics-title {
  margin: 0;
  padding: 0;
  width: 660px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.partners {
  padding-left: 20px;
  padding-right: 20px;
  height: 185px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

.contacts {
  background-image: url(../img/map.png);
  background-position: center;
  background-size: cover;
}

.contacts-wrapper {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.contacts-form {
  background-color: #ffffff;
  width: 320px;
  padding: 50px;
}

.main-footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 70px;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
  margin-right: 140px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
}

.social-button:active svg {
  opacity: 0.3;
}

.filters {
  margin: 0;
  padding: 0;
  width: 260px;
  margin-top: 60px;
}

.filters-block {
  display: block;
  margin-bottom: 50px;
}

.filters-block ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

.catalog {
  width: 780px;
  min-height: 1975px;
}

.catalog-columns {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 35px;
  width: 360px;
  margin-right: 40px;
}

.catalog-item-info h3 {
  margin: 0;
  padding: 0;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  opacity: 0;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item::before {
  display: block;
  content: '';
  width: 100%;
  height: 40px;
  background-image: url(../img/item-hat.png);
  background-repeat: no-repeat;
  background-position: top left;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover .catalog-item-info {
  display: block;
  opacity: 1;
}

.price-button {
  background-color: #fb565a;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.price-button:hover {
  background-color: #e74246;
}

.price-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
}

.catalog-category {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.catalog-item-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  display: block;
  color: #666666;
  font-weight: normal;
}

.catalog-item-image {
  line-height: 0;
}

.contacts-button,
.write-to-us-button {
  background-color: #fb565a;
}

.write-to-us-button {
  padding-left: 80px;
  padding-right: 80px;
}
