/* .test-image {
  position: absolute;
  opacity: 0.3;
  min-width: 1200px;
  width: 100%;
  height: 4000px;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
} */

body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.filter-input,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: baseline;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.main-header {
  min-width: 1200px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  padding-bottom: 10px;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  list-style: none;
  margin: 5px 23px 0;
}

.user-navigation li {
  list-style: none;
  margin-top: 5px;
}

.user-navigation {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.user-navigation .user-navigation-basket {
  position: relative;
  padding-left: 40px;
}

.user-navigation-basket::before {
  content: '';
  position: absolute;
  width: 15px;
  top: 2px;
  height: 15px;
  left: 0;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.services-item {
  text-align: left;
  width: 300px;
  margin-right: 100px;
  flex: none;
  padding-bottom: 80px;
}

.services-item:nth-child(3n) {
  margin-right: 0;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 15px;
}

.services-item p {
  margin-top: 15px;
  margin-bottom: 30px;
  padding-right: 20px;
}

.services-item-button {
  width: 160px;
  background-color: gray;
}

.services-item-button.website {
  background-color: #fb565a;
}

.services-item-button.website:hover {
  background-color: #e74246;
}

.services-item-button.website:focus {
  background-color: #e74246;
}

.services-item-button.website:active {
  color: #e1686b;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
}

.services-item-button.app {
  background-color: #00ca74;
}

.services-item-button.app:hover {
  background-color: #00bc6c;
}

.services-item-button.app:focus {
  background-color: #00bc6c;
}

.services-item-button.app:active {
  color: #4dc491;
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 #009958;
}

.services-item-button.presentation {
  background-color: #efc84a;
}

.services-item-button.presentation:hover {
  background-color: #eab534;
}

.services-item-button.presentation:focus {
  background-color: #eab534;
}

.services-item-button.presentation:active {
  color: #ebba53;
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 #ce961f;
}

.statistics-points-list {
  padding-left: 0;
}

.statistics-points-list li {
  background-image: url("../img/statistics-points-list.png");
  background-repeat: no-repeat;
  background-position: 0 11px;
  padding-left: 35px;
  margin-bottom: 23px;
  list-style: none;
}

.write-to-us {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  width: 960px;
  margin-left: -480px;
  background-color: #ffffff;
  padding: 80px;
  box-shadow: 0 15px 40px rgba(0, 1, 1, 0.75);
  z-index: 500;
}

@keyframes bounce {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

.write-to-us-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.write-to-us-show-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.write-to-us-form {
  position: relative;
}

.write-to-us-headline {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: 700;
}

.write-to-us-item {
  margin: 0;
  padding: 0;
}

.write-to-us-item label {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 12px;
}

.write-to-us-close {
  position: absolute;
  top: 78px;
  right: 70px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background: none;
  border: 0;
  cursor: pointer;
  z-index: 100;
  outline: none;
  opacity: 0.3;
}

.write-to-us-close:hover {
  opacity: 1;
}

.write-to-us-close:active {
  opacity: 0.1;
}

.write-to-us-close::before,
.write-to-us-close::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #fb565a;
  top: 10px;
  left: -1px;
}

.write-to-us-close::before {
  transform: rotate(45deg);
}

.write-to-us-close::after {
  transform: rotate(-45deg);
}


.write-to-us-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 40px;
}

.write-to-us-contacts .write-to-us-item {
  width: 360px;
  flex: none;
}

.write-to-us-item input,
.write-to-us-item textarea {
  width: 100%;
  padding: 15px;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  color: #000000;
  border-color: #d7dcde;
  outline: none;
}

.write-to-us-item textarea {
  margin-bottom: 45px;
}

.write-to-us-item input:hover,
.write-to-us-item textarea:hover {
  border-color: #b4b9bb;
}

.write-to-us-item input::placeholder,
.write-to-us-item textarea::placeholder {
  opacity: 0.5;
  color: #444444;
}

.write-to-us-item input:focus,
.write-to-us-item textarea:focus {
  border-color: #000000;
}

.write-to-us-item input:focus::placeholder,
.write-to-us-item textarea:focus::placeholder {
  color: #444444;
}

.write-to-us-item .invalid,
.write-to-us-item input:invalid,
.write-to-us-item textarea:invalid {
  color: #e74246;
  border-color: #e74246;
}

.footer-text {
  width: 760px;
  padding-top: 7px;
}

.footer-text-main {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-text-discount {
  margin-top: 13px;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/* Каталог */
.site-navigation-current a {
  border-bottom: 2px solid #fb565a;
}

.page-title {
  min-width: 1200px;
  width: 100%;
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 67px;
  padding-bottom: 107px;
}

.filters {
  margin: 0;
  padding: 0 20px;
  width: 300px;
  margin-top: 60px;
  min-height: 1990px;
}

.filters-block {
  display: block;
  padding: 0;
  margin-bottom: 27px;
}

.filters-block ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #61686c;
  font-weight: 400;
  margin-bottom: 20px;
}

.filter fieldset {
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 30px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  box-sizing: content-box;
  top: 31px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 15px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 10px 8px;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filters-block:first-child {
  margin-bottom: 57px;
}

.filter-name {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.filter-input:hover+label,
.filter-input:focus+label,
.filter-input:hover+label::before,
.filter-input:focus+label::before {
  color: #283136;
  opacity: 1;
}

.filter-input:disabled+label {
  color: #283136;
  opacity: 0.3;
  pointer-events: none;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox,
.filter-radio {
  margin-bottom: 17px;
}

.filter-checkbox+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-checkbox:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-radio+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-radio:checked+label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-button {
  width: 260px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: #959595;
  background-color: #dfdfdf;
  box-shadow: inset 0 3px 0 #bfbfbf;
}

.catalog fieldset {
  border: none;
}

.sorting li {
  list-style: none;
}

.sorting {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 40px;
}

.sorting a:hover {
  opacity: 0.6;
}

.sorting a:focus,
.sorting a:active {
  opacity: 1;
}

.sorting ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.sorting-name {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-direction {
  display: inline-block;
  margin-left: 245px;
  margin-right: 60px;
}

.sorting-option a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 20px;
  opacity: 0.3;
}

.sorting-down a {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 10px;
  opacity: 0.3;
}

.sorting-up a {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 10px;
  opacity: 0.3;
}

.price- {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-top: 25px;
  padding-bottom: 60px;
}

.pagination-item a {
  display: block;
  text-align: center;
  min-width: 50px;
  height: 50px;
  margin-right: 10px;
  line-height: 50px;
  color: #000000;
  background-color: #eeeeee;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
}

.pagination-item.next a {
  width: 260px;
}

.pagination-item a:hover {
  color: #000000;
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: #bfbfbf;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 #bfbfbf;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

/* Сетка */
.main-navigation {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-logo {
  width: 200px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-slider {
  position: relative;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eeeeee;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  min-height: 420px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  position: relative;
  display: none;
}

.slider-info {
  width: 520px;
  padding-top: 40px;
  padding-bottom: 70px;
}

.main-slider-title {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 55px;
  font-weight: 500;
  color: #000000;
  line-height: 55px;
  margin-bottom: 27px;
}

.main-slider-text {
  width: 370px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.slider-item img {
  position: absolute;
  right: 50px;
  bottom: 0;
}

.main-slider-button {
  width: 240px;
  background-color: #fb565a;
  margin-top: 15px;
}

.main-slider-button:hover {
  background-color: #e74246;
}

.main-slider-button:active {
  color: #e37376;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

.statistics {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 2px solid #eeeeee;
}

.statistics-about {
  width: 680px;
  text-align: left;
  padding-top: 75px;
  padding-bottom: 35px;
}

.statistics-title-text,
.statistics-points-list {
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  margin-bottom: 40px
}

.statistics-block {
  display: block;
  width: 360px;
  padding-top: 40px;
}

.statistics-table-title {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 35px;
}

.statistics-table-percentage {
  color: #000000;
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.statistics-table-percentage sup {
  font-size: 55%;
  top: -0.60em;
}

.statistics-table-percentage td {
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 13px;
  width: 33%;
}

.statistics-table-info {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.statistics-points {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.statistics-title {
  margin: 0;
  padding: 0;
  width: 660px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 33px;
}

.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 40px;
  margin-bottom: 78px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.partners a {
  position: relative;
  display: block;
  width: 300px;
  text-align: center;
}

.partners img {
  opacity: 0.2;
}

.partners a:not(:last-child)::after {
  display: block;
  content: '';
  background-color: #eeeeee;
  width: 2px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
}

.partners a:hover img {
  opacity: 1;
}

.partners a:active img {
  opacity: 0.1;
}

.contacts {
  position: relative;
  min-width: 1200px;
  background-image: url(../img/map.png);
  background-position: center;
  background-size: cover;
  z-index: 1500;
}

.contacts-map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 0;
}

.contacts-wrapper {
  position: relative;
  padding-top: 54px;
  padding-bottom: 54px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
}

.contacts-form {
  background-color: #ffffff;
  width: 319px;
  height: 308px;
  padding: 50px;
}

.contacts-name {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
  text-align: left;
}

.contacts-form address {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #666666;
  padding-bottom: 15px;
}

.contacts-tel {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #666666;
  margin-bottom: 40px;
  text-decoration: none;
}

.contacts-tel a {
  color: inherit;
  text-decoration: inherit;
}

.contacts-button {
  width: 220px;
}

.main-footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 65px;
  padding-bottom: 65px;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  display: flex;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.footer-social a {
  margin-right: 10px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
}

.social-button:active svg {
  opacity: 0.3;
}

.catalog {
  width: 780px;
}

.catalog-columns {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 33px;
  width: 360px;
  margin-right: 40px;
}

.catalog-item-info h3 {
  margin: 0;
  padding: 0;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  opacity: 0;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item::before {
  display: block;
  content: '';
  width: 100%;
  height: 40px;
  background-image: url(../img/item-hat.png);
  background-repeat: no-repeat;
  background-position: top left;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover .catalog-item-info {
  display: block;
  opacity: 1;
}

.price-button {
  background-color: #fb565a;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 44px;
}

.price-button:hover {
  background-color: #e74246;
}

.price-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
}

.catalog-category {
  display: block;
  color: #000000;
  font-weight: 700;
  margin-bottom: 20px;
}

.catalog-item-title {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  max-height: 260px;
  overflow: hidden;
}

.catalog-item-image {
  display: block;
  line-height: 0;
}

.contacts-button,
.write-to-us-button {
  background-color: #fb565a;
}

.write-to-us-button {
  padding-left: 80px;
  padding-right: 80px;
}
